<%- include('include/header')%>
<main class="container">
    <%- include('include/navbar')%>

    <section class="checklist">
        <div class="checklist-header">
            <h2>Checklist Categories</h2>
            <a href=""
                >Suggestion checklist <i class="fa fa-external-link"></i
            ></a>
        </div>
    </section>

    <section class="checklist-posts grid-column-4">
        <div class="post" style="border-top: 5px solid #e66400">
            <a class="anchor-full" href="?c=<%=obj.categoriesTags._id %>"></a>

            <div class="post-header">
                <h3>Back-end</h3>
                <p>03/03/2021</p>
            </div>
            <div class="post-body">
                <article>
                    para quem trabalha com js, nodejs e a melhor forma para
                    conseguir criar um api, pois e a mesma linguagem.
                </article>
            </div>
            <div class="post-footer">
                <span class="post-tags"> #behind-the-code </span>
            </div>
        </div>

        <div class="post" style="border-top: 5px solid #c54d52">
            <a class="anchor-full" href="?c=<%=obj.categoriesTags._id %>"></a>

            <div class="post-header">
                <h3>Dev-Ops</h3>
                <p>03/03/2021</p>
            </div>
            <div class="post-body">
                <article>
                    para quem trabalha com js, nodejs e a melhor forma para
                    conseguir criar um api, pois e a mesma linguagem.
                </article>
            </div>
            <div class="post-footer">
                <span class="post-tags"> #behind-the-code </span>
            </div>
        </div>

        <div class="post" style="border-top: 5px solid #b61ffe">
            <a class="anchor-full" href="?c=<%=obj.categoriesTags._id %>"></a>

            <div class="post-header">
                <h3>Desing</h3>
                <p>03/03/2021</p>
            </div>
            <div class="post-body">
                <article>
                    para quem trabalha com js, nodejs e a melhor forma para
                    conseguir criar um api, pois e a mesma linguagem.
                </article>
            </div>
            <div class="post-footer">
                <span class="post-tags"> #behind-the-code </span>
            </div>
        </div>

        <div class="post" style="border-top: 5px solid #f50c6f">
            <a class="anchor-full" href="?c=<%=obj.categoriesTags._id %>"></a>

            <div class="post-header">
                <h3>Front-end</h3>
                <p>03/03/2021</p>
            </div>
            <div class="post-body">
                <article>
                    para quem trabalha com js, nodejs e a melhor forma para
                    conseguir criar um api, pois e a mesma linguagem.
                </article>
            </div>
            <div class="post-footer">
                <span class="post-tags"> #behind-the-code </span>
            </div>
        </div>

        <div class="post" style="border-top: 5px solid #4d23c2">
            <a class="anchor-full" href="?c=<%=obj.categoriesTags._id %>"></a>

            <div class="post-header">
                <h3>General</h3>
                <p>03/03/2021</p>
            </div>
            <div class="post-body">
                <article>
                    para quem trabalha com js, nodejs e a melhor forma para
                    conseguir criar um api, pois e a mesma linguagem.
                </article>
            </div>
            <div class="post-footer">
                <span class="post-tags"> #behind-the-code </span>
            </div>
        </div>

        <div class="post" style="border-top: 5px solid #2b9668">
            <a class="anchor-full" href="?c=<%=obj.categoriesTags._id %>"></a>

            <div class="post-header">
                <h3>Project Management</h3>
                <p>03/03/2021</p>
            </div>
            <div class="post-body">
                <article>
                    para quem trabalha com js, nodejs e a melhor forma para
                    conseguir criar um api, pois e a mesma linguagem.
                </article>
            </div>
            <div class="post-footer">
                <span class="post-tags"> #behind-the-code </span>
            </div>
        </div>

        <div class="post" style="border-top: 5px solid #c54d52">
            <a class="anchor-full" href="?c=<%=obj.categoriesTags._id %>"></a>

            <div class="post-header">
                <h3>Marketing</h3>
                <p>03/03/2021</p>
            </div>
            <div class="post-body">
                <article>
                    para quem trabalha com js, nodejs e a melhor forma para
                    conseguir criar um api, pois e a mesma linguagem.
                </article>
            </div>
            <div class="post-footer">
                <span class="post-tags"> #behind-the-code </span>
            </div>
        </div>

        <div class="post" style="border-top: 5px solid #c54d52">
            <a class="anchor-full" href="?c=<%=obj.categoriesTags._id %>"></a>

            <div class="post-header">
                <h3>Mobile</h3>
                <p>03/03/2021</p>
            </div>
            <div class="post-body">
                <article>
                    para quem trabalha com js, nodejs e a melhor forma para
                    conseguir criar um api, pois e a mesma linguagem.
                </article>
            </div>
            <div class="post-footer">
                <span class="post-tags"> #behind-the-code </span>
            </div>
        </div>
    </section>
</main>

<%- include('include/footer')%>
