<%- include('include/header')%>
    <main class="container">
        <%- include('include/navbar')%>

            <section class="tags-area">
                <% dataIndex.tags.forEach( tag=>{%>
                    <a href="/?t=<%= tag._id %>" class="tags">
                        #<%= tag._id%>
                    </a>
                    <%})%>

            </section>

            <section class="checklist">
                <div class="checklist-header">
                    <h2>Posts</h2>
                    <a href="">Suggestion checklist <i class="fa fa-external-link"></i></a>
                </div>
                <div class="info-area">
                    <p>there are <span>
                            <%= dataIndex.sumPost.total %>
                        </span> of them and counting! </p>
                    <a href="/create-post" class="create-post">Create Post</a>
                </div>
            </section>

            <section class="checklist-posts">
                <%if(dataIndex.posts.length===0) {%>
                    <h1>Não a post a serem mostrados</h1>
                    <%} else {%>
                        <% dataIndex.posts.forEach( post=> {%>

                            <div class="post">

                                <div class="post-header">
                                    <h3>
                                        <%= post.category%>
                                    </h3>
                                    <p>
                                        <%= post.createDate%>
                                    </p>
                                </div>
                                <div class="post-body">
                                    <h3>
                                        <%= post.title%>
                                    </h3>
                                    <article>
                                        <%= post.body%>
                                    </article>
                                </div>
                                <div class="post-footer">
                                    <!-- <span class="post-tags">
                                #404error
                            </span> -->
                                    <% post.tags.forEach(tag=>{%>
                                        <span class="post-tags">
                                            #<%= tag%>
                                        </span>
                                        <%});%>
                                </div>
                                <a href="/post/<%= post._id %>" class="anchor-post">acess link</a>

                            </div>

                            <%})%>
                                <%}%>

            </section>
    </main>

    <%- include('include/footer')%>