<%- include('include/header')%>
<main class="container">
    <%- include('include/navbar')%>

    <section class="tags-area">
        <% dataIndex.tags.forEach( tag=>{%>
        <a href="/?t=<%= tag._id %>" class="tags"> #<%= tag._id%> </a>
        <%})%>
    </section>

    <section class="checklist">
        <div class="checklist-header">
            <h2>Posts</h2>
            <a href=""
                >Suggestion checklist <i class="fa fa-external-link"></i
            ></a>
        </div>
        <div class="info-area">
            <p>
                there are <span> <%= dataIndex.sumPost %> </span> of them and
                counting!
            </p>
            <a href="/create-post" class="create-post">Create Post</a>
        </div>
    </section>

    <section class="checklist-posts grid-column-2">
        <%if(dataIndex.posts.length===0) {%>
        <h1>Não há post a serem mostrados</h1>
        <%} else {%> <% dataIndex.posts.forEach( post=> {%>

        <div class="post">
            <a href="/post/<%= post._id %>" class="anchor-full"></a>

            <div class="post-header">
                <h3 id="text-category"><%= post.category%></h3>
                <p id="create-at"><%= post.createDate%></p>
                <small><%= post.author %></small>
            </div>
            <div class="post-body">
                <h3><%= post.title%></h3>
                <article><%= post.body%></article>
            </div>
            <div class="post-footer">
                <% post.tags.forEach(tag=>{%>
                <span class="post-tags"> #<%= tag%> </span>
                <%});%>
            </div>
            <div class="anchor-area">
                <!-- <form method="POST" action="/post/delete/<%= post._id%>">
                                        <button type="submit" class="anchor-post">
                                            <p>Delete</p>
                                        </button>
                                    </form> -->
            </div>
        </div>

        <%})%> <%}%>
    </section>
</main>

<script>
    const postElement = document.querySelectorAll(".post");
    const colorBorderTop = [
        "#e66400",
        "#c54d52",
        "#b61ffe",
        "#f50c6f",
        "#4d23c2",
        "#2b9668",
        "#c54d52",
        "#c54d52"
    ];
    const categories = [
        "Front-end",
        "Human Resources",
        "Back-end",
        "Desing",
        "DevOps",
        "General",
        "Project Management",
        "Marketing",
        "Mobile"
    ];
    postElement.forEach((el) => {
        let category = el.querySelector("#text-category");
        let tags = el.querySelectorAll(".post-tags");

        for (let i = 0; i < categories.length; i++) {
            if (category.innerText === categories[i]) {
                el.style.borderTop = `5px solid ${colorBorderTop[i]}`;
                tags.forEach(
                    (tag) =>
                        (tag.style.backgroundColor = `${colorBorderTop[i]}`)
                );
            }
        }
    });

    function zeroToLeft(value) {
        return value >= 10 ? value : `0${value}`;
    }

    function formateDate() {
        const createAt = document.querySelectorAll("#create-at");

        for (let i = 0; i < createAt.length; i++) {
            const date = new Date(createAt[i].innerHTML);

            const dd = zeroToLeft(date.getDate());
            const mm = zeroToLeft(date.getMonth() + 1);
            const yy = date.getFullYear();

            const formatDateString = `${dd}/${mm}/${yy}`;

            createAt[i].innerHTML = formatDateString;
        }
    }
    formateDate();
</script>

<%- include('include/footer')%>
