<%- include('include/header')%>
    <main class="container">
        <%- include('include/navbar')%>

            <section class="tags-area">
                <% dataIndex.tags.forEach( tag=>{%>
                    <a href="/?t=<%= tag._id %>" class="tags">
                        #<%= tag._id%>
                    </a>
                    <%})%>

            </section>

            <section class="checklist ">
                <div class="checklist-header">
                    <h2>Posts</h2>
                    <a href="">Suggestion checklist <i class="fa fa-external-link"></i></a>
                </div>
                <div class="info-area">
                    <p>there are
                        <span>
                            <%= dataIndex.sumPost %>
                        </span> of them and counting!
                    </p>
                    <a href="/create-post" class="create-post">Create Post</a>
                </div>
            </section>

            <section class="checklist-posts grid-column-2">
                <%if(dataIndex.posts.length===0) {%>
                    <h1>Não há post a serem mostrados</h1>
                    <%} else {%>
                        <% dataIndex.posts.forEach( post=> {%>

                            <div class="post">
                                <a href="/post/<%= post._id %>" class="anchor-full"></a>


                                <div class="post-header">
                                    <h3 id="text-category">
                                        <%= post.category%>
                                    </h3>
                                    <p>
                                        <%= post.createDate%>
                                    </p>
                                </div>
                                <div class="post-body">
                                    <h3>
                                        <%= post.title%>
                                    </h3>
                                    <article>
                                        <%= post.body%>
                                    </article>
                                </div>
                                <div class="post-footer">

                                    <% post.tags.forEach(tag=>{%>
                                        <span class="post-tags">
                                            #<%= tag%>
                                        </span>
                                        <%});%>
                                </div>
                                <div class="anchor-area">


                                    <!-- <form method="POST" action="/post/delete/<%= post._id%>">
                                        <button type="submit" class="anchor-post">
                                            <p>Delete</p>
                                        </button>
                                    </form> -->


                                </div>

                            </div>

                            <%})%>
                                <%}%>

            </section>
    </main>



    <script>
        const postElement = document.querySelectorAll('.post')
        const colorBorderTop = [
            '#e66400', 
            '#c54d52', 
            '#b61ffe', 
            '#f50c6f', 
            '#4d23c2', 
            '#2b9668', 
            '#c54d52', 
            '#c54d52']
        const categories = [
            'Front-end', 
            'Human Resources', 
            'Back-end', 
            'Desing', 
            'DevOps', 
            'General', 
            'Project Management', 
            'Marketing', 
            'Mobile'
        ]
        postElement.forEach( el => {
             let  category = el.querySelector('#text-category')
             let  tags = el.querySelectorAll('.post-tags')

             for(let i = 0; i < categories.length; i++){
                if(category.innerText === categories[i]){
                    el.style.borderTop = `5px solid ${colorBorderTop[i]}`
                    tags.forEach(tag =>tag.style.backgroundColor = `${colorBorderTop[i]}`)
                }
             }

        })
        // if(category.innerText === 'Front-end') {
        //     el.style.borderTop = `5px solid ${colorBorderTop[0]}`
        //     tags.forEach(tag =>{
        //         tag.style.backgroundColor = `${colorBorderTop[0]}`
        //     })
        // }
        // if(category.innerText === 'Human Resources'){
        //     el.style.borderTop  = `5px solid ${colorBorderTop[1]}`
        //     tags.forEach(tag =>{
        //         tag.style.backgroundColor = `${colorBorderTop[1]}`
        //     })
        // }
        // if(category.innerText === 'Back-end'){
        //     el.style.borderTop  = `5px solid ${colorBorderTop[2]}`
        //     tags.forEach(tag =>{
        //         tag.style.backgroundColor = `${colorBorderTop[2]}`
        //     })
        // }
        // if(category.innerText === 'Desing'){
        //     el.style.borderTop  = `5px solid ${colorBorderTop[3]}`
        //     tags.forEach(tag =>{
        //         tag.style.backgroundColor = `${colorBorderTop[3]}`
        //     })
        // }
        // if(category.innerText === 'DevOps'){
        //     el.style.borderTop  = `5px solid ${colorBorderTop[4]}`
        //     tags.forEach(tag =>{
        //         tag.style.backgroundColor = `${colorBorderTop[4]}`
        //     })
        // }
        // if(category.innerText === 'General'){
        //     el.style.borderTop  = `5px solid ${colorBorderTop[5]}`
        //     tags.forEach(tag =>{
        //         tag.style.backgroundColor = `${colorBorderTop[5]}`
        //     })
        // }
        // if(category.innerText === 'Project Management'){
        //     el.style.borderTop  = `5px solid ${colorBorderTop[6]}`
        //     tags.forEach(tag =>{
        //         tag.style.backgroundColor = `${colorBorderTop[6]}`
        //     })
        // }
        // if(category.innerText === 'Marketing'){
        //     el.style.borderTop  = `5px solid ${colorBorderTop[7]}`
        //     tags.forEach(tag =>{
        //         tag.style.backgroundColor = `${colorBorderTop[7]}`
        //     })
        // }
        // if(category.innerText === 'Mobile'){
        //     el.style.borderTop  = `5px solid ${colorBorderTop[8]}`
        //     tags.forEach(tag =>{
        //         tag.style.backgroundColor = `${colorBorderTop[8]}`
        //     })
        // }




        

        


    </script>

    <%- include('include/footer')%>