<%- include('include/header')%>

<main class="container">
    <%- include('include/navbar')%>
    <form class="create-post-form" method="POST">
        <h3>Make the login</h3>
        <small>just fill the fields for login your account</small>

        <%- include('include/message')%>

        <label class="new-input-label" for="email">
            <input
                class="new-input"
                type="text"
                name="email"
                autocomplete="off"
                required
            />
            <p>email</p>
        </label>
        <label class="new-input-label" for="password">
            <input
                class="new-input"
                type="password"
                name="password"
                autocomplete="off"
                required
            />
            <p>password</p>
        </label>
        <small><a href="/sign-up">i don't have an account</a></small>

        <button id="submit" type="submit">Login</button>
    </form>
</main>

<%- include('include/script/_button-disabled')%> <%- include('include/footer')%>
