<%- include('include/header')%>

<main class="container-page-user">
    <%- include('include/navbar')%>

    <section class="container-profile">
        <section class="profile-area">
            <section class="header-profile">
                <div class="image-area">
                    <%if(!obj.profile.photo){%>
                    <img src="../../assets/img/avatar-male.jpg" alt="" />
                    <%} else {%>
                    <img src="../../upload/<%= obj.profile.photo%>" alt="" />
                    <%}%>
                    <div class="edit-photo">
                        <i class="far fa-edit"></i>
                    </div>
                </div>
            </section>

            <section class="body-profile">
                <div class="info-area">
                    <i class="far fa-comments"></i>
                    <p>1.232 <span>Posts</span></p>
                </div>
                <div class="info-area">
                    <i class="far fa-flag"></i>
                    <p><%= obj.profile.country %></p>
                </div>
                <div class="info-area">
                    <i class="far fa-bookmark"></i>
                    <%= obj.profile.membership%>
                </div>
            </section>

            <section class="footer-profile">
                <h2>Profile info:</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                name:
                                <p><%= obj.profile.name %></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cpf:
                                <p><%= obj.profile.cpf %></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Create at:
                                <p id="create-at">
                                    <%= obj.profile.create_at %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td id="status">
                                status: <% if(obj.profile.isBanned) {%>
                                <p id="status-banned">Banned</p>
                                <%} else {%>
                                <p id="status-active">Active</p>
                                <%}%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                actions:
                                <form
                                    method="GET"
                                    action="/admin/users/banned/<%= obj.profile._id %>"
                                >
                                    <button type="submit" class="edit-post">
                                        ban
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </section>
</main>

<script>
    function zeroToLeft(value) {
        return value > 10 ? value : `0${value}`;
    }

    const createAt = document.querySelector("#create-at");

    const dateCreateAt = createAt.textContent;

    const date = new Date(dateCreateAt);

    const monthName = [
        "janeiro",
        "fevererio",
        "março",
        "abril",
        "maio",
        "junho",
        "julho",
        "agosto",
        "setembro",
        "outubro",
        "novembro",
        "dezembro"
    ];

    const day = date.getDate();
    const month = date.getMonth();
    const year = date.getFullYear();
    const hour = zeroToLeft(date.getHours());
    const minutes = zeroToLeft(date.getMinutes());

    const stringDate = `${day} de ${monthName[month]}, ${year} às ${hour}:${minutes}`;

    createAt.textContent = "";
    createAt.textContent = stringDate;
</script>

<%- include('include/footer')%>
