<%- include('include/header')%>

<main class="container">
    <%- include('include/navbar')%>
    <form
        class="create-user-form"
        method="POST"
        autocomplete="off"
        enctype="multipart/form-data"
    >
        <h3>Create an account now.</h3>
        <small>just fill the fields for create your account</small>

        <%- include('include/message')%>
        <section class="wrap-form-sign">
            <div class="input-left">
                <label class="new-input-label" id="cpf1" for="cpf">
                    <input
                        class="new-input-2"
                        type="text"
                        name="cpf"
                        autocomplete="off"
                        required
                        id="cpf"
                    />
                    <p>cpf</p>
                </label>
                <span id="cpf-res"></span>

                <label class="new-input-label">
                    <input
                        class="new-input-2"
                        type="text"
                        name="name"
                        autocomplete="off"
                        required
                    />
                    <p>name</p>
                </label>
                <label class="new-input-label">
                    <input
                        class="new-input-2"
                        type="text"
                        name="email"
                        required
                        autocomplete="off"
                    />
                    <p>email</p>
                </label>
            </div>

            <div class="input-avatar">
                <img
                    src="../../assets/img/avatar-male.jpg"
                    alt="avatar-profile"
                />
                <input type="file" name="photo" />
            </div>
        </section>
        <label class="new-input-label">
            <input
                class="new-input"
                type="password"
                name="password"
                autocomplete="off"
                required
            />
            <p>password</p>
        </label>

        <label class="new-input-label">
            <input
                class="new-input"
                type="password"
                name="password-repeat"
                autocomplete="off"
                required
            />
            <p>repeat password</p>
        </label>

        <section class="wrap-form">
            <label class="new-input-label" for="birthday">
                <input
                    class="new-input"
                    type="date"
                    name="birthday"
                    autocomplete="off"
                    required
                />
                <p>birthday</p>
            </label>
            <label class="new-input-label" for="country">
                <select
                    name="country"
                    id="country"
                    class="new-input"
                    required
                ></select>

                <p>country</p>
            </label>
        </section>
        <section class="wrap-form">
            <label class="new-input-label" for="city">
                <input class="new-input" name="city" id="city" />

                <p>city</p>
            </label>

            <label for="membership">
                <p>Membership:</p>
                <select name="membership" id="membership">
                    <option value="Basic">Basic</option>
                    <option value="Silver">Silver</option>
                    <option value="Golden">Golden</option>
                </select>
            </label>
            <label for="role">
                <p>role:</p>
                <select name="role" id="role">
                    <option value="normal">normal</option>
                    <option value="Admin">admin</option>
                </select>
            </label>
        </section>

        <button type="submit">Sign Up</button>
    </form>
</main>

<script>
    buscaPais = async () => {
        const url =
            "https://servicodados.ibge.gov.br/api/v1/localidades/paises?orderBy=nome";
        const response = await fetch(url)
            .then((data) => data.json())
            .then((body) => body);

        return response;
    };

    preenchendoSelect = async () => {
        const selectCountry = document.querySelector("#country");

        const body = await buscaPais();

        body.forEach((data) => {
            let elementOption = document.createElement("option");
            elementOption.innerText += data.nome;
            elementOption.value = data.nome;
            country.append(elementOption);
        });
    };

    mascaraCpf = () => {
        const cpfInput = document.querySelector("#cpf");
        const span = document.querySelector("#cpf-res");

        cpfInput.addEventListener("change", (e) => {
            let el = e.target.value;
            if (el.length > 12) {
                cpfInput.style.border = "red solid 1px  ";
                cpfInput.style.trasition = "border 0.4s ease";
                span.style.display = "flex";
                span.innerText = "CPF inválido";
                span.style.fontSize = "0.8rem";
                span.style.color = "red";
            } else {
                cpfInput.style.border = "#181c27 solid 1px";
                span.style.display = "none";
                cpfInput.style.trasition = "border 0.4s ease";
            }
        });
    };
    mascaraCpf();
    const init = () => {
        preenchendoSelect();
    };

    init();
</script>

<%- include('include/script/_button-disabled')%> <%- include('include/footer')%>
