<%- include('include/header')%>

<main class="container-page-user">
            <%- include('include/navbar')%>

            <section class="users">
                <%if(!obj.users){%>
                    <h1>não há usuário bando de dados</h1>
                    <%} else {%>
                        <%obj.users.forEach( user=>{%>
                            <a href="/profile/<%= user.id %>"></a>
                            <div class="user-container">
                                <%if(!user.photo){%>
                                    <img src="./assets/img/avatar-male.jpg" alt="">
                                <%} else {%>
                                    <img src="./upload/<%= user.photo%>" alt="">
                                <%}%>
                                <div>
                                    <h3>
                                        <%= user.name %>
                                    </h3>
                                    <p>
                                        <%= user.email%>
                                    </p>
                                </div>

                            </div>

                            <%})%>

                                <%}%>

            </section>


        </main>

        <%- include('include/footer')%>