<%- include('include/header')%>

<main class="container-page-user">
            <%- include('include/navbar')%>


            <section class="menu-buttons">
                <form action="/users/delete-all" method="POST">
                    <button type="submit"  class="edit-post">Delete users</button>
                </form>
            </section>
            
            <%if(obj.users.length  === 0 ){%>

                <h1>Don't have users in Database</h1>
                
            <%} else {%>

            <%obj.users.forEach( user=>{%>

            
                
                <section class="users">
                    <div class="user-container">
                        <a href="/profile/<%= user._id %>" class="anchor-full"></a>
                            <%if(!user.photo){%>
                                <img src="../../assets/img/avatar-male.jpg" alt="">
                                    <%} else {%>
                                        <img src="../../upload/<%= user.photo%>" alt="">
                                    <%}%>
                                    <div>
                                        <h3>
                                            <%= user.name %>
                                        </h3>
                                        <p>
                                            <%= user.email%>
                                        </p>
                                    </div>

                                </div>
                </section>    

            <%})%>

        <%}%>

</main>


<%- include('include/footer')%>