<%- include('include/header')%>
    <main class="container">
        <%- include('include/navbar')%>
            <a href="/post/edit/<%=postData.data._id%>" class="edit-post">Edit Post</a>
            <section class="container-view">
                <h2>
                    <%= postData.data.title %>
                </h2>
                <p class="paragraph-view">
                    <%= postData.data.subtitle %>
                </p>

                <section class="page-view-tags-area">
                    <% postData.data.tags.forEach(tag=>{ %>
                        <span class="tags">
                            #<%= tag %>
                        </span>
                        <%})%>
                    
                </section>

                    <div class="image-container">
                        <img src="../../upload/<%= postData.data.photo %>" alt="">
                    </div>
                <article>
                    <%= postData.data.body %>
                </article>
            </section>






    </main>

    <%- include('include/footer')%>