<nav>
    <ul class="logo">
        <li>
            Logo
        </li>
    </ul>
    <ul class="menu">
        <li class="search-area">
            <i class="icon-search"></i>
            <input class="search" type="text" name="" id="">
        </li>
        <% h.forEach( link=> {%>
            <li>
                <a href="<%= link.slug %>">
                    <%= link.name%>
                </a>
            </li>
        <%})%>
        

        <% if (_user){%>
            <li id="profile-area">
                <img  class="profile-img"   src="../../../upload/<%= _user.photo %>" alt="<%= _user.name %>">
                <p>Email: <%= _user.email %></p>
            </li>
        <%}%>
    </ul>
</nav>