<nav>
    <ul class="logo">
        <li>
            Logo
        </li>
    </ul>
    <ul class="menu">
        <li class="search-area">
            <i class="icon-search"></i>
            <input class="search" type="text" name="" id="">
        </li>
        <% h.forEach( link=> {%>
            <li>
                <a href="<%= link.slug %>">
                    <%= link.name%>
                </a>
            </li>
        <%})%>
        

        <% if (_user){%>
            <a href="/profile/<%= _user._id%>"id="profile-area">

                <%if(_user.photo){%>
                    <img  class="profile-img"   src="../../../upload/<%= _user.photo %>" alt="<%= _user.name %>">

                <%} else {%>
                    <img  class="profile-img"   src="../../../assets/img/avatar-male.jpg" alt="<%= _user.name %>">

                <%}%>
                <%if(_user.role === 'admin'){%>
                    <div class="role">Admin</div>
                <%}%>
                <div>
                    <p><%= _user.name %></p>
                    <p><%= _user.email %></p>
                </div>
            </a>
        <%}%>
    </ul>
</nav>